@import "../../../mixins.scss";

.carousel-Section {
  position: relative;
  margin-bottom: 70px;
  margin-left: -10px;
  @include md {
    margin-left: 0px;
  }

  & > .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carousel-title {
    font-size: 24px;
    color: white;
  }
}
